@import 'noticias.css';
@font-face {
  font-family: 'prx_l_ie';
   src: url('../fonts/proxima_l.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proxima_l.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_l';
  src: url('../fonts/proxima_l.svg#prx_l') format('svg'),
        url('../fonts/proxima_l.ttf') format('truetype'),
         url('../fonts/proxima_l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_r_ie';
   src: url('../fonts/proxima_r.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proxima_r.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_r';
  src: url('../fonts/proxima_r.svg#prx_r') format('svg'),
        url('../fonts/proxima_r.ttf') format('truetype'),
         url('../fonts/proxima_r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0;padding:0;}
#bg-alpha{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%;
    z-index: 99999;
    display: none;
    background: url("../img/alpha.png");
}
#box_popup{
    position:absolute;
    left:50%;
    z-index: 999999;
    width:564px;height:346px;
    margin-left:-282px;
    background-color: #ffffff;
    display:none;
}
#header_popup{position:relative;width:100%;height:41px;background-color: #902122;}
#header_popup > p{font:normal 22px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin:0;padding:12px 0 0 20px;}
#close_popup{position: absolute;top:0;right:0;cursor:pointer;width:40px;text-align: center;
             background-color: #801718;height: 100%;color:#ffffff;font-size:25px;line-height:40px;}
#popup_telefone,#popup_nosligamos,#popup_financiamento,#popup_areacliente{position:absolute;bottom:0;left:0;width:563px;height:305px;}
.bolinha-vermelha{
  position: relative;
  margin-top: 20px !important;
}
.bolinha-vermelha:before{
    content: "";
    display: inline-block;
    background: #922123;
    content: "";
    border-radius: 9px;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 9px;
    left: -32px;
}
#popup_telefone{background: url("../img/popup_telefone.jpg")no-repeat top center;}
#popup_nosligamos{background: url("../img/popup_nosligamos.jpg")no-repeat top center;display: none;}
#popup_financiamento,#popup_areacliente{background: url("../img/popup_financiamento.jpg")no-repeat top center;display: none;}
#popup_financiamento > img,#popup_areacliente > img{position:absolute;top:30px;left:40px;}
#popup_financiamento > p,#popup_areacliente >p{position:absolute;top:30px;left:210px;padding-right:40px;font:normal 14px "prx_r","prx_r_ie",sans-serif;line-height: 16px}
#bt_simula_popup{display: inline-block;position: absolute;padding:22px 42px;background-color: #44b3e6;color: #ffffff;bottom: 15px;
                 left: 25px;text-align: center;font:normal 21px "prx_r","prx_r_ie",sans-serif;}
#bt_simula_popup:hover{background-color: #41abdb;text-decoration: none;}
#bt_info_popup{display: inline-block;position: absolute;padding:22px 42px;background-color: #016db8;color:#ffffff;bottom: 15px;
                right: 38px;text-align: center;font:normal 21px "prx_r","prx_r_ie",sans-serif;}
#bt_info_popup:hover{background-color: #0167ad;text-decoration: none;}
#popup_telefone > h1,#popup_nosligamos >h1{font:normal 33px "prx_r","prx_r_ie",sans-serif;color:#333333;margin: 35px 0 0 52px;}
#popup_telefone > h2{font:normal 33px "prx_r","prx_r_ie",sans-serif;color:#333333;margin: 25px 0 0 52px;position:relative;}
#popup_telefone > h2:before{content: url("../img/icon_whatsapp.png");display: inline-block;position: absolute;top: 5px;left: -40px;}
#popup_telefone > h1> p,#popup_telefone > h2 > p{font-size:26px}
#funcionamento,#funcionamento2{font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#333333;margin-left:52px;}
#popup_nosligamos >h1 > p{font-size:14px}
#campo_tel_nosligamos,#campo_nome_nosligamos{width: 216px;height: 31px;margin-left: 50px;border: none;border-radius: 0;
                        background-color: #f0f0f0;}
#bt_nosligamos{color: #ffffff;background-color: #902122;width: 83px;height: 40px;font: normal 14px "prx_r","prx_r_ie",sans-serif;
border: none;margin-top: -8px;margin-left: -4px;}
/*=================== GERAL ===========================*/
/*= HEADER */

#header{
    position:fixed;width:100%;height: 118px;background: url("../img/bg_header.jpg")no-repeat center top;top:0;z-index: 9999;
}
#content_header{position: absolute;width:960px;height:100%;top:0;left:50%;margin-left:-480px;}
#logo{border: none;float:left;height: 100%;}
#assinatura_logo{
    float:left;font:normal 16px "prx_r","prx_r_ie",sans-serif; color:#ffffff;margin: 90px 0 0 25px;
}
#assinatura-push {z-index: 999999;position: fixed;bottom: 20px;left: 10px;}
#menu_header{float:right;width:405px;height:77px;border-left: 2px solid #9b3e3f;margin-top: 20px;background: url("../img/contato_icon.png")no-repeat top center;}
.item_menu_header{position:relative;float:left;height:100%;cursor: pointer;}
.item_menu_header div{color:#ffffff;font:normal 14px "prx_r","prx_r_ie",sans-serif;display: block;position: absolute;bottom: 0;text-align: center;width: 100%;}
#item_ligamos,#item_ligamos_footer{float:right;width:95px;}
#item_telefone,#item_telefone_footer{width: 70px;margin-left: 42px;}
#item_mail,#item_mail_footer{width: 50px;margin-left:43px;}
#item_chat,#item_chat_footer{width:60px;margin-left: 27px;}

/*= MENU */

#menu_principal{
    position: relative;
    margin: 118px auto 0 auto;width: 920px;height:60px;
}
.navbar .nav_menu{margin: 0;
display: table;
width: 100%;margin-top: 13px;}
.nav_menu li{margin: 0;}
.navbar .nav_menu>li>a{border-right:1px solid #e4e4e4;padding: 0 18px 0 18px;
margin: 10px 0 10px 0px;color:#313131;font:normal 15px "prx_r","prx_r_ie",sans-serif;}
#last_item{border: none;}
.nav_menu li:hover,.ativo{
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
}

/*= FOOTER */
#footer{position: relative;width: 100%;height: 359px;background: #434343;clear:both;}
#content_footer{position:absolute;top: 20px;left:50%;margin-left:-480px;width:960px;height: 319px;}
#bloco_contato_ft{position:relative;width: 100%;height:121px;}
#divisor{position:relative;width:100%;height:7px;background: url("../img/pontilhado.jpg")repeat-x;}
#bloco_menu_ft{position:relative;width:100%;height:166px;}
#logo_footer{position:absolute;top:0;left:30px;}
#container_contato_ft{position:absolute;right:0;top:0;width:700px;}
#legenda_contato_ft,#legenda_redes_ft{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin-bottom:0;text-indent: 225px;}
.border_footer{border-left: none !important;}
#redes_sociais_ft{position:absolute;top:32px;left:0;height:77px;width:305px;}
#lista_redes{list-style-type: none;width:100%;height:40px;margin: 0 0 25px 0;border-right:3px solid #616161;}
#legenda_redes_ft{text-indent:0px;}
#lista_redes li{height: 100%;width:40px;float:left;margin-right: 17px;}
.info_footer{margin-top:19px;width:215px;position: relative;float:left;}
.info_footer,.info_footer p,.info_footer a{color:#ffffff;font:normal 13px "prx_r","prx_r_ie",sans-serif;text-decoration:none; line-height:16px;}
.info_footer a:hover,#menu_footer > p > a:hover,.lista_submenu_footer>li>a:hover{text-decoration: underline;}
#vert_divisor{float:left;margin-top: 15px;}
#menu_footer{position:relative;margin:19px 0 0 35px;float:left;width: 700px;}
#menu_footer > p,#menu_footer > p > a{color:#ffffff;font:normal 14px "prx_r","prx_r_ie",sans-serif;}
#menu_footer > p > a{text-decoration: none;margin:0 7px;padding: 0;}

.lista_submenu_footer{position:absolute;list-style-type: none;margin-left: 6px;}
.lista_submenu_footer>li{margin-bottom: 3px;}
.lista_submenu_footer>li>a{color:#a6a6a6;text-decoration: none;font:normal 12px "prx_r","prx_r_ie",sans-serif;}
/*=================== HOME ===========================*/
/*= BANNER */
#banner_slider{position: relative;width:100%;height:435px;overflow: hidden;cursor: pointer;}
.box_legenda_destaque{position: absolute;bottom:60px;width:450px;height: 281px;background: url("../img/box_alphadestaque.png")no-repeat top center;margin-left: -480px;}
.slides{position:relative;float:left;width:100%;height:100%;background-repeat: no-repeat;background-position: center top;}
.borda_legenda{position:absolute;bottom:0;right:0;width:280px;height:13px;}
.estagio_prj_h{position:absolute;top:25px;left:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#cacaca;}
.titulo_legenda_destaque_h{position:absolute;top:50px;left:20px;font:normal 40px "prx_r","prx_r_ie",sans-serif;color:#ffffff;text-align: left;line-height: 35px;}
.subtitulo_destaque_h{position:absolute;top:135px;left:20px;font:normal 14px "prx_r","prx_r_ie",sans-serif;text-align: left;}
.itens_destaque_h{position:absolute;top:160px;left:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;text-align: left;color:#ffffff;line-height: 20px;}
.info_destaque_h{position:absolute;top:0;left:0;height:100%;width:305px;}
#banner_slider_b{position:absolute;top:0;height:100%;left:0;}
#prev_slide{position:absolute;top:50%;width:auto;height:123px;left:0;margin-top:-61px;cursor:pointer;}
#next_slide{position:absolute;top:50%;width:auto;height:123px;right:0;margin-top:-61px;cursor:pointer;}
.nav_prev_h{float:left;height:123px;width:153px;display:none;background-size: cover;background-position: top center;}
.nav_prev_h img{float:right;}
.nav_next_h img{float:left;}
.nav_next_h{float:right;height:123px;width:153px;display:none;background-size: cover;background-position: top center;}
#barra_progresso{position: absolute;top:0;left:0;width:0;height:17px;background-color: #a13834;z-index:999;}
/*= SEARCH */
#area_search{position: relative;width:100%;height:68px;background-color:#902122;border-bottom:8px solid #7d2421;}
#content_search{position:absolute;width:960px;height:100%;margin-left:-480px;top:0;left:50%;}
#box_search{margin-top: 16px;height: 40px;width:540px;}
#search_proj{width: 422px;height: 34px;padding: 3px;border-radius: 0px;background-color: #9c393a;font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#b87d7d;border: none;}
#bt_search{border-radius: 0px;width: 112px;height: 40px;background-color: #691714;font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#ffffff;border: none;background-image: none;}
#bt_search:active,#bt_search:focus{border: none;outline: 0;}
/*= FILTRO */
.content_geral{
    position:relative;width:100%;
}
#bloco_prj{
    position:relative;width:960px;margin:0 auto;   
}
#box_filtro{position:relative;margin:19px 0 0 0;height:54px;background-color: #ffffff;list-style-type: none;}
#box_filtro li{float:left;width:190px;height:100%;font:normal 17px "prx_r","prx_r",sans-serif;color:#666666;cursor:pointer;
                text-indent:12px;line-height: 56px; border-right: 1px solid #f3f3f3; background-color: #ffffff;}
#box_filtro li:last-child{border:none;}
.badge-quadrado{float: right;margin-right: 8px;margin-top:19px;width:24px;height:19px;padding: 0;border-radius:6px;
               text-indent: 0;font:normal 16px "prx_r","prx_r",sans-serif;color:#ffffff;line-height: 20px;text-align: center;}
#box_filtro li:hover,.filtro_hover{background-color: #333333 !important;color:#ffffff !important;}
.container_projeto{float:left;width:220px;height:306px;margin:14px 10px 0 10px;}
.box_thumb{position:relative;background: #ffffff;height:241px;width:100%;overflow: hidden;}
.thumb_projeto{margin:5px 5px 0;width:210px;}
.legenda_thumb_prj{position:absolute;top:175px;background: url("../img/alpha_legenda_prj.png") top center;height:186px;width:100%;pointer-events: none;}
.titulo_prj_th{font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin: 15px 11px 0;
              padding-bottom:10px;border-bottom:1px solid #ffffff;pointer-events: none;line-height: 19px;}
.ficha_th{font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#ffffff;padding: 5px 11px 2px;pointer-events: none;line-height: 19px;}
.bt_th{pointer-events: none;display: block;position:absolute;width:190px;height:44px;bottom:0;left:15px;background-color: #902122;
        font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#ffffff;text-indent: 20px;line-height: 43px;}
/*= INFO */
#bloco_info{position: relative;width:960px;margin:0 auto;height:448px;clear: both;}
#container_news{position: absolute;top:0;left:0;width: 630px;height:100%;}
#sidebar_info{position: absolute;top:0;right:0;width: 308px;height:100%;}
.titulo_info{color:#000000;font:normal 21px "prx_r","prx_r_ie",sans-serif;}
#area_cliente{position:relative;width:306px;height:126px;background: #888888;}
#area_financiamento{position:relative;width:306px;height:268px;margin-top:12px;}
#titulo_mcmv{position:relative;width:100%;background-color: #0070af;height:42px;color:#ffffff;font:normal 17px "prx_r","prx_r_ie",sans-serif}
#titulo_mcmv span{margin-left: 9px;}
#area_financiamento a:hover{text-decoration: none;border: none;outline: 0;}

#bloco_final{position:relative;width:100%;height:105px;margin:26px 0;}
#bloco_cadastro{position: relative;width:953px;height:105px;background: url("../img/bg_cadastro.jpg") no-repeat top center;margin:0 auto;}
#form_home,#form_interna{position: absolute;right:20px;top:27px;}
#txt_cadastro{display: block;position:absolute;top:36px;left:20px;font:normal 17px "prx_r","prx_r_ie",sans-serif;}
#nome_infointerna,#mail_infointerna,#nome_cadastrohome,#mail_cadastrohome{border:none;border-radius:0;height: 32px;margin: 0 0 0 12px;width: 208px;color:#000000;}
#bt_infointerna,#btn_cadastrohome{border-radius:0;background-image: none;height: 39px;border: none;margin-left: -3px;}
#bt_topo{position: absolute;bottom:22px;right:2%;width:62px;height:62px;background: url("../img/bt_topo.png")no-repeat top center;cursor: pointer;display:block;}
/*=================== INTERNAS ===========================*/
@media (max-width: 1161px) {
   #bt_topo{display:none;} 
}
/*=================== INTERNAS ===========================*/
/*===============INTERNA EMPREENDIMENTO===============*/
#container_interna_prj2{position:relative;width:960px;margin:0 auto 0 auto;}
#interna_prj{padding-bottom:25px;padding-top:20px;}
#header_titulo_prj{ position:relative;width:100%;height:100px;background: #ffffff;}
#breadcrumb_prj{display: block;position: relative;padding:27px 0 0 25px;margin:0;}
#breadcrumb_prj,#breadcrumb_prj>a{color:#999999;font:normal 16px "prx_r","prx_r_ie",sans-serif;}
#titulo_interna_prj{font:normal 40px "prx_r","prx_r_ie",sans-serif;margin:8px 0 0 25px;}
#divisor_interna{position: absolute;top:0;right:305px;}
#line_likes{position:absolute;right:5px;top:5px;width:290px;}
.fb-like{margin-top:15px}
#___plusone_0{position: absolute;top: 15px;right: 0px;}
.twitter-share-button{position: absolute;top: 15px;right: 70px;}
#box_destaque_interna{position:relative;width:100%;height:323px;margin-top:25px;}
#destaque_projeto{position:relative;width:629px;height:100%}
#destaque_projeto img{width:100%;height:100%;}
#legenda_destaque{position: absolute;top:0;right:0;background: url("../img/alpha_destaque.png")no-repeat top center;width:243px;height:100%;}
#estagio_prj{position:absolute;top:15px;right:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#cacaca;}
.titulo-box-destaque{position:absolute;top:40px;right:20px;width:223px;height:125px;}
.titulo-box-destaque > h1{font:normal 40px "prx_r","prx_r_ie",sans-serif;color:#ffffff;text-align: right;margin: 0;}
.titulo-box-destaque > p{font:normal 14px "prx_r","prx_r_ie",sans-serif;text-align:right;}
#itens_destaque{position:absolute;top:190px;right:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;text-align: right;color:#ffffff;line-height: 20px;}
#info_destaque{position:absolute;top:0;right:0;height:100%;width:305px;}
.box_info:first-child{height:107px;}
.box_info{position:relative;width:100%;height:108px;}
.interna_info{position:absolute;top:25px;width:100%;text-align: center;color:#ffffff;}
.txtsmall_infobox{font:normal 13px "prx_r","prx_r_ie",sans-serif;}
.txt_infobox{font:normal 24px "prx_r","prx_r_ie",sans-serif;}
#chamada_desc,#titulo_boxlazer{width:350px;padding-left:10px;margin:20px 0 0 20px;font:normal 24px "prx_r","prx_r_ie",sans-serif;color:#333333;}
#txt_desc{width:350px;margin:30px 50px 10px 30px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#999999;}
#itens_lazer{position:relative;width:100%;padding-bottom:20px;margin-top:20px;background: #ffffff url("../img/divisor_lazer_interna.jpg")repeat-y 44% 4%;}
#box_descricao{position:relative;float:left;padding-top: 20px;}
#box_lazer{position:relative;float:left;width:530px;margin-top:20px;}
#box_ficha{position:relative;width:100%;clear: both;}
#titulo_boxlazer{margin-bottom:20px;}
.container_lista_lazer{position:relative;list-style-type: none;height:39px;margin:0px;}
.container_lista_lazer li img{border-bottom:1px solid #edf2ea;margin-right:3px;}
.container_lista_lazer li{float:left;height:39px;margin:0 0 0 25px;width:231px;}
.header_interna{position:relative;width:100%;height:60px;}
.icone_header{float:left;width:60px;height:100%;}
.titulo_header{font:normal 21px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin-left:10px;float: left;margin-top: 20px;}
#content_ficha{position:relative;margin:0;padding-top:30px;background-color: #ffffff;}
#lista_ficha{display: block;list-style-type: none;float: left;margin-bottom:30px;}
#lista_ficha li{font:normal 15px "prx_r","prx_r_ie",sans-serif;margin-bottom:5px;}
#desc_ficha{width:530px;margin-right:50px;float:right;margin-bottom:30px;font: normal 17px "prx_r","prx_r_ie",sans-serif;color: #999999;}
#galeria_img{position:relative;clear:both;width:100%;height:675px;padding-top:45px;}
#icon_sel_tipoimg,#icon_tols_sel,#obras_sel{position:absolute;top:0;right:310px;}
#sel_tipoimg{position:absolute;top:0;right:0;width:305px;height:100%;border:none;border-radius: 0;background:none;color:#ffffff;}
#box_destaque_galeria{position:relative;width:100%;height:477px;background:url("../img/bg_galeria.jpg")no-repeat top center;}
#lista_galeria{position:absolute;width:630px;height:390px;top:30px;left:50%;margin-left: -315px;background: #ffffff}
#lista_galeria img{position:absolute;top:10px;left:10px;width: 610px;
height: 372px;}
#lista_galeria img:not(:first-child){display: none}
#bt_legenda{position:absolute;width:44px;height:44px;bottom: 64px;right: 220px;background: url("../img/icon_legenda.png")no-repeat top center;cursor: pointer;}
#bt_full{display:block;position:absolute;width:44px;height:44px;bottom:64px;right:175px;background: url("../img/icon_full.png")no-repeat top center;cursor: pointer;}
#lista_galeria:-webkit-full-screen{ display: flex; justify-content: center; align-items: center;width: 100%;height:100%;margin:0;top:0;left:0;}
#lista_galeria:-webkit-full-screen img{ width: 99%; height: 98%; }
#lista_galeria:-moz-full-screen{ display: flex; justify-content: center; align-items: center;width: 100%;height:100%;margin:0;top:0;left:0;}
#lista_galeria:-moz-full-screen img{ width: 99%; height: 98%; }
:-webkit-full-screen { width: 100%; height: 100%; }
*:-moz-fullscreen { background: #fff; }
#box_legenda_galeria{position: absolute;bottom: 64px;right: 220px;width:565px;height:0px;background: url("../img/alpha_destaque.png")top center;}
#box_legenda_galeria > p{margin:10px 10px 0 10px;font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#ffffff;display:none;}
#boxthumbs_list{position:relative;height:95px;clear:both;overflow:hidden;background-color: #ffffff;}
#nav_prev_galeria{position:absolute;top:0;left:0;width:32px;height:100%;background: url("../img/setaprev_galeria.jpg")no-repeat top center;z-index: 99}
#nav_next_galeria{position:absolute;top:0;right:0;width:32px;height:100%;background: url("../img/setanext_galeria.jpg")no-repeat top center;z-index: 99}
.tipo2,.tipo3,.tipo4{display:none;}
#list_thumbs{position:absolute;list-style-type: none;height:100%;top:0;left:32px;background-color: #ffffff;margin:0}
#list_thumbs li{float:left;} 
#list_thumbs li img{height:95px;cursor:pointer;}
#mapa{position:relative;width:100%;margin-bottom:40px;}
#endereco_mapa{font:normal 13px "prx_r","prx_r_ie",sans-serif;color:#ffffff;position:absolute;bottom:2px;left:50px;bottom: 4px;left: 80px;
                padding: 0;margin: 0;}
#area_mapa_interna{position:relative;width:655px;height:423px;}
#box_rota,#box_proximidade{position:absolute;bottom:0;right:0;width:310px;height:423px;}
.bt_tracarota{border: none;border-radius: 0;background-image: none;
font: normal 17px "prx_r","prx_r_ie",sans-serif;
}
.control-label{color:#ffffff;}
#form-route{margin:60px 0 0 20px;}
#icon_tols_sel{background:url("../img/icon_rota.png") no-repeat top center;}
#box_proximidade{display:none;}
#box_proximidade > ul{list-style-type:none;margin:0; }
#box_proximidade > ul > li{height:60px;}
.legenda_tool{font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#ffffff;cursor:pointer}
#obra{position:relative;width:100%;height:522px;margin-bottom: 25px;}
#slide_obra{position:absolute;width:650px;height:461px;top:60px;left:0;}
#slide_obra img{position:absolute;top:0;left:0;}
#slide_obra img:not(:first-child){display: none}
#andamento{position:absolute;top:0;left:0;width:243px;height:461px;background: url("../img/alpha_obras.png")no-repeat top center;}
#andamentoA{position:absolute;bottom:1px;left:0;z-index: 99;width:273px;height:461px;overflow: hidden}
#andamento ul{list-style-type: none;width:203px;margin-top: 40px;}
.titulo_status{height:17px;margin:15px 0 10px 0;font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
.barra_status{height:17px;position:relative;}
.barra_status > span{display:block;height:17px;}
#thumbs_obra{position:absolute;bottom:1px;right:0;width:310px;height:461px;}
#data_entrega{position:absolute;width:100%;height:60px;bottom:0;left:0;background: url("../img/divisor_data.png")no-repeat top center;}
.titulo_data1{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;
            display: inline-block;margin: 0;position:absolute;top:14px;left: 5px;text-align: center;width: 143px;}
.titulo_data1 > span{font-size: 24px;}
.titulo_data2{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;
            display: inline-block;margin: 0;position:absolute;top:14px;right:5px;text-align: center;width: 143px;}
.titulo_data2 > span{font-size: 24px;}
#area_thumb_obra2{position:relative;margin:20px;width:275px;height:364px;}
#area_thumb_obra{position:relative;}
#area_thumb_obra img{border:3px solid #ffffff;margin:6px 6px;display:none;}
#bloco_final_interna{position:relative;width:100%;height:105px;margin:26px 0 0 0;}
#showroom-local,#showroom-present{position:relative;width:275px;height:186px;background-color: #902122;margin: 38px auto 0 auto;cursor:pointer;}
#showroom-local:hover,#showroom-present:hover{background-color: #8b0305;}
#showroom-present{width:340px;height:95px;margin-top:10px;}
#blc-showroom,#blc-showroom2{position:relative;width:257px;height:164px;border:1px solid #fff;top:10px;left:8px;text-align:center;}
#blc-showroom2{width:332px;height:83px;top:5px;left:3px;}
#blc-showroom h2{font:normal 20px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin-top:38px;}
#blc-showroom2 h2{font:normal 20px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#blc-showroom h3,#blc-showroom2 h3{font:normal 17px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#blc-showroom p,#blc-showroom2 p{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#mapa_showroom{position:relative;width:522px;height:228px;margin:20px auto 0 auto;}
#popup_showroom > p{text-align:center;font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#333333;line-height: 21px;padding-top: 5px;}
/*===== GERAL EMPREENDIMENTOS*/
.empreendimentos{background-color: #f8f8f8;}
#bloco_qtd_imoveis{
    position: relative;width:100%;height:95px; background: #ffffff;
}
#txt_qtd_imoveis{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:8px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}
#txt_qtd_imoveis > span{color:#8f2322;}
.sidebar_esq{position:relative;width:310px;float:left;background: #ffffff;margin-bottom: 30px;}
.header_sidebar_esq{background-color: #f1f1f1;color:#8b0305;margin:0;padding:11px 0 11px 30px;font:bold 18px "prx_r","prx_r_ie",sans-serif;}
.titulo_filtros{color:#8b0305;margin:0;padding:11px 0 11px 30px;font:bold 18px "prx_r","prx_r_ie",sans-serif;}
#filtro_estagio,#filtro_dorms{margin-left:30px;}
#content_empreendimentos,#content_sobre{position:relative;width:650px;float:right;background-color: #ffffff;margin-bottom: 30px;}
.destaque_empreendimentos{position:relative;margin:0 0 50px 21px;width:629px;height: 323px;}
#container_empreendimentos,#container_sobre{position: relative;width:100%;background-color: #ffffff;}
.btn-prj{font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#ffffff;background-color: #902122;background-color: #902122;background-image: none;border: none;
          padding: 20px 31px;position: absolute;bottom: 10px;right: 16px;}
.btn-prj:hover{background-color: #8b0305;color:#ffffff;}
#remove_filtro{margin-left:30px;cursor:pointer;}
#container_interna_prj2 .guiafixo{position:fixed;top:125px;}
#container_interna_prj2 .topo{top:0;}
#container_interna_prj2 .final{bottom:0;}
#nav_guide{position: absolute;top:0;right:-120px;background: url("../img/bg_guide.png")top center;width:86px;height: 100%;}
#box_guias{position:absolute;left:0;background: url("../img/bloco_nav.png") no-repeat top center;width:86px;height:522px;}
.nav_box{position:relative;width:86px;height:84px;}
.nav_box >img{margin:20px 0 0 16px}
#box_guias .ativobg{background-color: #f5f5f5;}
.nav_box:hover{background-color: #f5f5f5;}
.porcentagem{display: block;position:absolute;margin: 0;top: 2px;left: 2px;z-index: 9;color:#ffffff;font:normal 12px "prx_r","prx_r_ie",sans-serif;padding: 0;}
#seta_andamento{position:absolute;bottom:0;right:-30px;background-image: url("../img/seta_andamento_esq.jpg");background-repeat: no-repeat;width:30px;height:30px;}
#texto_asterisco{font: normal 12px Arial,helvetica,sans-serif;padding: 8px 14px;line-height: 15px;display: block;
position: relative;background-color: #ffffff;margin: 12px 4px 0 4px;color:#999999;}
#reset_mapa{cursor: pointer;}
/*============ INSTITUCIONAIS ==============================*/
.sobre,.visite,.contato,.financia{background-color: #f8f8f8;}
#container_interna_prj{position:relative;width:960px;margin:20px auto 0 auto;}
#bloco_chamada_destaque{
    position: relative;width:100%;height:95px; background: #ffffff;
}
#txt_chamada_destaque{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:8px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}
#txt_chamada_destaque2{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:18px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}

.link_sidebar{display:block;}
.link_sidebar:hover{text-decoration: underline;color:#8b0305;}
.ancora_sobre{display:block;color:#333333;margin:0;padding:11px 0 11px 30px;font:normal 16px "prx_r","prx_r_ie",sans-serif;}
.ancora_sobre:hover{color:#333333;text-decoration: none;}
.desc_sobre{color:#999999;font:normal 15px "prx_r","prx_r_ie",sans-serif;line-height: 20px;margin: 0 20px 25px 20px;}
#content_sobre img{margin:0 20px 25px 20px;width:610px;}
.subtitulo_sobre{color:#333333;font:normal 25px "prx_r","prx_r_ie",sans-serif;padding:15px 0 15px 20px;}
.desc_sub{background-color: #fafafa;color:#333333;font:normal 15px "prx_r","prx_r_ie",sans-serif;margin:0 20px;padding:30px;}
#mapa_visite{width:610px;height:380px;margin-left:20px;margin-bottom: 10px;}
#bt_mapa_sede,#bt_mapa_loja,#mapa_loja,#mapa_sede{cursor:pointer;}
#rota_sede,#rota_loja{display:none}
#area_cliente_contato{position: relative;width: 310px;margin-top:20px;}
#area_cliente_contato > p{font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#313131;margin:20px 0 0 10px;}
#area_cliente_contato > h3{font:bold 18px "prx_r","prx_r_ie",sans-serif;color:#8b0305;margin-left:10px;}
#contato_sel,#empreendimento_sel{display:none}
#bloco1_contato{margin:60px 0 0 20px;}
#bloco1_contato > label,#bloco2a > label,#bloco2b >label,#bloco4a > label,#bloco4b > label{font:normal 17px "prx_r","prx_r_ie",sans-serif;color:#313131;}
#bloco1_contato > .input_full_contato{width:600px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco2_contato{position:relative;margin:0 18px 0 20px;height: 75px;}
#bloco2a,#bloco4a{position:absolute;top:0;left:0;}
#bloco2b,#bloco4b{position:absolute;top:0;right:0;}
#bloco2a >.ddd,#bloco2b > .ddd{width:63px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco2a >.fone,#bloco2b > .fone{width:208px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco3_contato{position:relative;width:630px;margin:0;height: 60px;}
#bloco4_contato{position:relative;margin:0 18px 0 20px;height: 75px;}
#bloco4_contato .dados_prj{width:290px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco5_contato{position:relative;margin:0 10px 0 20px;height: 360px;}
#mensagem_contato{width:600px;height:300px;resize: none;border:none;background-color: #f0f0f0;border-radius: 0;outline: none;}
#bt_enviar_contato{margin-left:20px;background-color:#691714;padding:10px 15px;color:#ffffff;font:normal 14px "prx_r","prx_r_ie",sans-serif; border:none}
#box_simulacao{position:relative;float:left;width:306px;margin-left: 20px;}
#bt_financia{display: inline-block;padding:26px 20px;background-color: #44b3e6;color:#ffffff;text-align: center;}
#bt_financia:hover{background-color: #41abdc;text-decoration: none;}
#bt_financia > strong,#bt_infocaixa >strong{font:normal 21px "prx_r","prx_r_ie",sans-serif;}
#bt_financia > p,#bt_infocaixa > p{font:normal 14px "prx_r","prx_r_ie",sans-serif;}
#box_infocaixa{position:relative;float:right;width:306px;margin-right: 10px;}
#box_infocaixa>p,#box_simulacao >p{text-align: center;margin: 10px 20px 0;font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#999999;}
#bt_infocaixa:hover{text-decoration: none;background-color:#0166ac;}
#bt_infocaixa{display: inline-block;background-color: #016db8;color:#ffffff;padding:26px 49px;text-align: center;}
#bloco_certificadoA,#bloco_certificadoB{position:relative;width:100%;margin-bottom:40px;}
#bloco_certificadoA img,#bloco_certificadoB img{width:183px;float:left;}
.desc_certificacao{display: inline-block;width:415px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#999999;float:right;line-height: 21px}
.desc_certificacao strong{color:#333333;}
.desc_certificacao a{color:#871012}
.desc_certificacao a:hover{text-decoration: underline;color:#871012}
#sede_hora{display:none}
