.sobre,.visite,.contato,.financia{background-color: #f8f8f8;}
#container_interna_prj{position:relative;width:960px;margin:20px auto 0 auto;}
#bloco_chamada_destaque{
    position: relative;width:100%;height:95px; background: #ffffff;
}
#txt_chamada_destaque{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:8px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}
#txt_chamada_destaque2{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:18px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}

.link_sidebar{display:block;}
.link_sidebar:hover{text-decoration: underline;color:#8b0305;}
.ancora_sobre{display:block;color:#333333;margin:0;padding:11px 0 11px 30px;font:normal 16px "prx_r","prx_r_ie",sans-serif;}
.ancora_sobre:hover{color:#333333;text-decoration: none;}
.desc_sobre{color:#999999;font:normal 15px "prx_r","prx_r_ie",sans-serif;line-height: 20px;margin: 0 20px 25px 20px;}
#content_sobre img{margin:0 20px 25px 20px;width:610px;}
.subtitulo_sobre{color:#333333;font:normal 25px "prx_r","prx_r_ie",sans-serif;padding:15px 0 15px 20px;}
.desc_sub{background-color: #fafafa;color:#333333;font:normal 15px "prx_r","prx_r_ie",sans-serif;margin:0 20px;padding:30px;}
#mapa_visite{width:610px;height:380px;margin-left:20px;margin-bottom: 10px;}
#bt_mapa_sede,#bt_mapa_loja,#mapa_loja,#mapa_sede{cursor:pointer;}
#rota_sede,#rota_loja{display:none}
#area_cliente_contato{position: relative;width: 310px;margin-top:20px;}
#area_cliente_contato > p{font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#313131;margin:20px 0 0 10px;}
#area_cliente_contato > h3{font:bold 18px "prx_r","prx_r_ie",sans-serif;color:#8b0305;margin-left:10px;}
#contato_sel,#empreendimento_sel{display:none}
#bloco1_contato{margin:60px 0 0 20px;}
#bloco1_contato > label,#bloco2a > label,#bloco2b >label,#bloco4a > label,#bloco4b > label{font:normal 17px "prx_r","prx_r_ie",sans-serif;color:#313131;}
#bloco1_contato > .input_full_contato{width:600px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco2_contato{position:relative;margin:0 18px 0 20px;height: 75px;}
#bloco2a,#bloco4a{position:absolute;top:0;left:0;}
#bloco2b,#bloco4b{position:absolute;top:0;right:0;}
#bloco2a >.ddd,#bloco2b > .ddd{width:63px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco2a >.fone,#bloco2b > .fone{width:208px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco3_contato{position:relative;width:630px;margin:0;height: 60px;}
#bloco4_contato{position:relative;margin:0 18px 0 20px;height: 75px;}
#bloco4_contato .dados_prj{width:290px;border:none;background-color: #f0f0f0;border-radius: 0;height:32px;}
#bloco5_contato{position:relative;margin:0 10px 0 20px;height: 360px;}
#mensagem_contato{width:600px;height:300px;resize: none;border:none;background-color: #f0f0f0;border-radius: 0;outline: none;}
#bt_enviar_contato{margin-left:20px;background-color:#691714;padding:10px 15px;color:#ffffff;font:normal 14px "prx_r","prx_r_ie",sans-serif; border:none}
#box_simulacao{position:relative;float:left;width:306px;margin-left: 20px;}
#bt_financia{display: inline-block;padding:26px 20px;background-color: #44b3e6;color:#ffffff;text-align: center;}
#bt_financia:hover{background-color: #41abdc;text-decoration: none;}
#bt_financia > strong,#bt_infocaixa >strong{font:normal 21px "prx_r","prx_r_ie",sans-serif;}
#bt_financia > p,#bt_infocaixa > p{font:normal 14px "prx_r","prx_r_ie",sans-serif;}
#box_infocaixa{position:relative;float:right;width:306px;margin-right: 10px;}
#box_infocaixa>p,#box_simulacao >p{text-align: center;margin: 10px 20px 0;font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#999999;}
#bt_infocaixa:hover{text-decoration: none;background-color:#0166ac;}
#bt_infocaixa{display: inline-block;background-color: #016db8;color:#ffffff;padding:26px 49px;text-align: center;}
#bloco_certificadoA,#bloco_certificadoB{position:relative;width:100%;margin-bottom:40px;}
#bloco_certificadoA img,#bloco_certificadoB img{width:183px;float:left;}
.desc_certificacao{display: inline-block;width:415px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#999999;float:right;line-height: 21px}
.desc_certificacao strong{color:#333333;}
.desc_certificacao a{color:#871012}
.desc_certificacao a:hover{text-decoration: underline;color:#871012}
#sede_hora{display:none}
