/*===============INTERNA EMPREENDIMENTO===============*/
#container_interna_prj2{position:relative;width:960px;margin:0 auto 0 auto;}
#interna_prj{padding-bottom:25px;padding-top:20px;}
#header_titulo_prj{ position:relative;width:100%;height:100px;background: #ffffff;}
#breadcrumb_prj{display: block;position: relative;padding:27px 0 0 25px;margin:0;}
#breadcrumb_prj,#breadcrumb_prj>a{color:#999999;font:normal 16px "prx_r","prx_r_ie",sans-serif;}
#titulo_interna_prj{font:normal 40px "prx_r","prx_r_ie",sans-serif;margin:8px 0 0 25px;}
#divisor_interna{position: absolute;top:0;right:305px;}
#line_likes{position:absolute;right:5px;top:5px;width:290px;}
.fb-like{margin-top:15px}
#___plusone_0{position: absolute;top: 15px;right: 0px;}
.twitter-share-button{position: absolute;top: 15px;right: 70px;}
#box_destaque_interna{position:relative;width:100%;height:323px;margin-top:25px;}
#destaque_projeto{position:relative;width:629px;height:100%}
#destaque_projeto img{width:100%;height:100%;}
#legenda_destaque{position: absolute;top:0;right:0;background: url("../img/alpha_destaque.png")no-repeat top center;width:243px;height:100%;}
#estagio_prj{position:absolute;top:25px;right:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#cacaca;}
#titulo_legenda_destaque{position:absolute;top:45px;right:20px;font:normal 40px "prx_r","prx_r_ie",sans-serif;color:#ffffff;text-align: right;}
#subtitulo_destaque{position:absolute;top:135px;right:20px;font:normal 14px "prx_r","prx_r_ie",sans-serif;text-align: right;}
#itens_destaque{position:absolute;top:185px;right:20px;font:normal 16px "prx_r","prx_r_ie",sans-serif;text-align: right;color:#ffffff;line-height: 20px;}
#info_destaque{position:absolute;top:0;right:0;height:100%;width:305px;}
.box_info:first-child{height:107px;}
.box_info{position:relative;width:100%;height:108px;}
.interna_info{position:absolute;top:25px;width:100%;text-align: center;color:#ffffff;}
.txtsmall_infobox{font:normal 13px "prx_r","prx_r_ie",sans-serif;}
.txt_infobox{font:normal 24px "prx_r","prx_r_ie",sans-serif;}
#chamada_desc,#titulo_boxlazer{width:350px;padding-left:10px;margin:20px 0 0 20px;font:normal 24px "prx_r","prx_r_ie",sans-serif;color:#333333;}
#txt_desc{width:350px;margin:30px 50px 10px 30px;font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#999999;}
#itens_lazer{position:relative;width:100%;padding-bottom:20px;margin-top:20px;background: #ffffff url("../img/divisor_lazer_interna.jpg")repeat-y 44% 4%;}
#box_descricao{position:relative;float:left;padding-top: 20px;}
#box_lazer{position:relative;float:left;width:530px;margin-top:20px;}
#box_ficha{position:relative;width:100%;clear: both;}
#titulo_boxlazer{margin-bottom:20px;}
.container_lista_lazer{position:relative;list-style-type: none;height:39px;margin:0px;}
.container_lista_lazer li img{border-bottom:1px solid #edf2ea;margin-right:3px;}
.container_lista_lazer li{float:left;height:39px;margin:0 0 0 25px;width:231px;}
.header_interna{position:relative;width:100%;height:60px;}
.icone_header{float:left;width:60px;height:100%;}
.titulo_header{font:normal 21px "prx_r","prx_r_ie",sans-serif;color:#ffffff;margin-left:20px;float: left;margin-top: 20px;}
#content_ficha{position:relative;margin:0;padding-top:30px;background-color: #ffffff;}
#lista_ficha{display: block;list-style-type: none;float: left;margin-bottom:30px;}
#lista_ficha li{font:normal 15px "prx_r","prx_r_ie",sans-serif;margin-bottom:5px;}
#desc_ficha{width:530px;margin-right:50px;float:right;margin-bottom:30px;font: normal 17px "prx_r","prx_r_ie",sans-serif;color: #999999;}
#galeria_img{position:relative;clear:both;width:100%;height:675px;padding-top:45px;}
#icon_sel_tipoimg,#icon_tols_sel,#obras_sel{position:absolute;top:0;right:310px;}
#sel_tipoimg{position:absolute;top:0;right:0;width:305px;height:100%;border:none;border-radius: 0;background:none;color:#ffffff;}
#box_destaque_galeria{position:relative;width:100%;height:477px;background:url("../img/bg_galeria.jpg")no-repeat top center;}
#lista_galeria{position:absolute;width:630px;height:390px;top:30px;left:50%;margin-left: -315px;background: #ffffff}
#lista_galeria img{position:absolute;top:10px;left:10px;width: 610px;
height: 372px;}
#lista_galeria img:not(:first-child){display: none}
#bt_legenda{position:absolute;width:44px;height:44px;bottom: 64px;right: 220px;background: url("../img/icon_legenda.png")no-repeat top center;cursor: pointer;}
#bt_full{display:block;position:absolute;width:44px;height:44px;bottom:64px;right:175px;background: url("../img/icon_full.png")no-repeat top center;cursor: pointer;}
#lista_galeria:-webkit-full-screen{ display: flex; justify-content: center; align-items: center;width: 100%;height:100%;margin:0;top:0;left:0;}
#lista_galeria:-webkit-full-screen img{ width: 99%; height: 98%; }
#lista_galeria:-moz-full-screen{ display: flex; justify-content: center; align-items: center;width: 100%;height:100%;margin:0;top:0;left:0;}
#lista_galeria:-moz-full-screen img{ width: 99%; height: 98%; }
:-webkit-full-screen { width: 100%; height: 100%; }
*:-moz-fullscreen { background: #fff; }
#box_legenda_galeria{position: absolute;bottom: 64px;right: 220px;width:565px;height:0px;background: url("../img/alpha_destaque.png")top center;}
#box_legenda_galeria > p{margin:10px 10px 0 10px;font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#ffffff;display:none;}
#boxthumbs_list{position:relative;height:95px;clear:both;overflow:hidden;background-color: #ffffff;}
#nav_prev_galeria{position:absolute;top:0;left:0;width:32px;height:100%;background: url("../img/setaprev_galeria.jpg")no-repeat top center;z-index: 99}
#nav_next_galeria{position:absolute;top:0;right:0;width:32px;height:100%;background: url("../img/setanext_galeria.jpg")no-repeat top center;z-index: 99}
.tipo2,.tipo3,.tipo4{display:none;}
#list_thumbs{position:absolute;list-style-type: none;height:100%;top:0;left:32px;background-color: #ffffff;margin:0}
#list_thumbs li{float:left;} 
#list_thumbs li img{height:95px;cursor:pointer;}
#mapa{position:relative;width:100%;margin-bottom:40px;}
#endereco_mapa{font:normal 13px "prx_r","prx_r_ie",sans-serif;color:#ffffff;position:absolute;bottom:2px;left:50px;bottom: 4px;left: 80px;
                padding: 0;margin: 0;}
#area_mapa_interna{position:relative;width:655px;height:423px;}
#box_rota,#box_proximidade{position:absolute;bottom:0;right:0;width:310px;height:423px;}
.bt_tracarota{border: none;border-radius: 0;background-image: none;
font: normal 17px "prx_r","prx_r_ie",sans-serif;
}
.control-label{color:#ffffff;}
#form-route{margin:60px 0 0 20px;}
#icon_tols_sel{background:url("../img/icon_rota.png") no-repeat top center;}
#box_proximidade{display:none;}
#box_proximidade > ul{list-style-type:none;margin:0; }
#box_proximidade > ul > li{height:60px;}
.legenda_tool{font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#ffffff;cursor:pointer}
#obra{position:relative;width:100%;height:522px;margin-bottom: 25px;}
#slide_obra{position:absolute;width:650px;height:461px;top:60px;left:0;}
#slide_obra img{position:absolute;top:0;left:0;}
#slide_obra img:not(:first-child){display: none}
#andamento{position:absolute;top:0;left:0;width:243px;height:461px;background: url("../img/alpha_obras.png")no-repeat top center;}
#andamentoA{position:absolute;bottom:1px;left:0;z-index: 99;width:273px;height:461px;overflow: hidden}
#andamento ul{list-style-type: none;width:203px;margin-top: 40px;}
.titulo_status{height:17px;margin:15px 0 10px 0;font:normal 14px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
.barra_status{height:17px;position:relative;}
.barra_status > span{display:block;height:17px;}
#thumbs_obra{position:absolute;bottom:1px;right:0;width:310px;height:461px;}
#data_entrega{position:absolute;width:100%;height:60px;bottom:0;left:0;background: url("../img/divisor_data.png")no-repeat top center;}
.titulo_data1{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;
            display: inline-block;margin: 0;position:absolute;top:14px;left: 5px;text-align: center;width: 143px;}
.titulo_data1 > span{font-size: 24px;}
.titulo_data2{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;
            display: inline-block;margin: 0;position:absolute;top:14px;right:5px;text-align: center;width: 143px;}
.titulo_data2 > span{font-size: 24px;}
#area_thumb_obra2{position:relative;margin:20px;width:275px;height:364px;}
#area_thumb_obra{position:relative;}
#area_thumb_obra img{border:3px solid #ffffff;margin:6px 6px;display:none;}
#bloco_final_interna{position:relative;width:100%;height:105px;margin:26px 0 0 0;}
/*===== GERAL EMPREENDIMENTOS*/
.empreendimentos{background-color: #f8f8f8;}
#bloco_qtd_imoveis{
    position: relative;width:100%;height:95px; background: #ffffff;
}
#txt_qtd_imoveis{position:absolute;font:normal 25px "prx_r","prx_r_ie",sans-serif;top:8px;left:25px;color:#333333;border-left: 3px solid #8f2322;padding-left: 15px;}
#txt_qtd_imoveis > span{color:#8f2322;}
.sidebar_esq{position:relative;width:310px;float:left;background: #ffffff;margin-bottom: 30px;}
.header_sidebar_esq{background-color: #f1f1f1;color:#8b0305;margin:0;padding:11px 0 11px 30px;font:bold 18px "prx_r","prx_r_ie",sans-serif;}
.titulo_filtros{color:#8b0305;margin:0;padding:11px 0 11px 30px;font:bold 18px "prx_r","prx_r_ie",sans-serif;}
#filtro_estagio,#filtro_dorms{margin-left:30px;}
#content_empreendimentos,#content_sobre{position:relative;width:650px;float:right;background-color: #ffffff;margin-bottom: 30px;}
.destaque_empreendimentos{position:relative;margin:0 0 50px 21px;width:629px;height: 323px;}
#container_empreendimentos,#container_sobre{position: relative;width:100%;background-color: #ffffff;}
.btn-prj{font:normal 16px "prx_r","prx_r_ie",sans-serif;color:#ffffff;background-color: #902122;background-color: #902122;background-image: none;border: none;
          padding: 20px 31px;position: absolute;bottom: 15px;right: 16px;}
.btn-prj:hover{background-color: #8b0305;color:#ffffff;}
#remove_filtro{margin-left:30px;cursor:pointer;}
#container_interna_prj2 .guiafixo{position:fixed;top:125px;}
#container_interna_prj2 .topo{top:0;}
#container_interna_prj2 .final{bottom:0;}
#nav_guide{position: absolute;top:0;right:-120px;background: url("../img/bg_guide.png")top center;width:86px;height: 100%;}
#box_guias{position:absolute;left:0;background: url("../img/bloco_nav.png") no-repeat top center;width:86px;height:522px;}
.nav_box{position:relative;width:86px;height:84px;}
.nav_box >img{margin:20px 0 0 16px}
#box_guias .ativobg{background-color: #f5f5f5;}
.nav_box:hover{background-color: #f5f5f5;}
.porcentagem{display: block;position:absolute;margin: 0;top: 2px;left: 2px;z-index: 9;color:#ffffff;font:normal 12px "prx_r","prx_r_ie",sans-serif;padding: 0;}
#seta_andamento{position:absolute;bottom:0;right:-30px;background-image: url("../img/seta_andamento_esq.jpg");background-repeat: no-repeat;width:30px;height:30px;}
#texto_asterisco{font: normal 12px Arial,helvetica,sans-serif;padding: 8px 14px;line-height: 15px;display: block;
position: relative;background-color: #ffffff;margin: 12px 4px 0 4px;color:#999999;}
#reset_mapa{cursor: pointer;}