@font-face {
  font-family: 'prx_l_ie';
   src: url('../fonts/proxima_l.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proxima_l.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_l';
  src: url('../fonts/proxima_l.svg#prx_l') format('svg'),
        url('../fonts/proxima_l.ttf') format('truetype'),
         url('../fonts/proxima_l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_r_ie';
   src: url('../fonts/proxima_r.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/proxima_r.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'prx_r';
  src: url('../fonts/proxima_r.svg#prx_r') format('svg'),
        url('../fonts/proxima_r.ttf') format('truetype'),
         url('../fonts/proxima_r.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0;padding: 0;}
.mobile{font:normal 20px "prx_r","prx_r_ie",sans-serif;margin: 0;padding: 0;}
.mobile > iframe{position: absolute;}
.header_mobile{position: relative;width:100%;height:50px;background-color: #902122;z-index: 999}
.header_mobile>img{height: 50px;}
.header_mobile > p{display: inline-block;position: absolute;bottom: 5px;margin: 0;left: 80px;font:normal 70% "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#abre_mn_drop{float:right;height:100%;width: 40px;}
#abre_mn_drop > img{width:20px;margin-top:14px;cursor: pointer;}
.menu_mobile{height:30px;font-size:90%;text-align: right;padding-right:1%;background-color:#c0392b }
#bt_mn_prj{width:99%}
#bt_mn_sobre{width:79%}
#bt_mn_local{width:59%}
#bt_mn_contato{width:39%;}
.header_mobile button{color: #ffffff;}
#menu_mobile{position: absolute;background-color: #882021;z-index: 99;width: 100%;margin-top:-165px;}
#menu_mobile >a{display: block;color: #ffffff;font-size: 69%;padding: 6px 0 6px 27px;
border-bottom: 1px solid #902122;}
#destaque_home_mb{width:100%;}
#bloco_servicos{position:relative;height:66px;margin:20px 20px 30px 20px;}
#content_srvicos_mb{position:relative;width:264px;margin:0 auto;}
#bt_cliente_mb{float: left;margin-right:20px;}
#bt_caixa_mb{float:left;}
#bloco_destaques{position:relative;margin:40px 20px;}
.empreendimentos_mob{display: block;position:relative;margin:40px 0 0;padding:0 20px;}
.empreendimentos_mob_visite{display: block;position:relative;margin:40px 0;padding:0 20px;}
.empreendimentos_mob_home{display: inline-block;position:relative;margin:0 20px 20px 0;width:40%;max-width: 210px;vertical-align: top}
.empreendimentos_mob_home:nth-child(even){margin:0;}
.empreendimentos_mob_home > .legenda_mob{position:relative;background: url("../img/alpha_legenda_prj.png")repeat top center;height:100px;}
.empreendimentos_mob_home > .legenda_mob >p{padding:3%;color: #ffffff;font-size: 78%;}
.empreendimentos_mob_home > .legenda_mob > p > span{font-size: 65%;}
//.img_destaque{width:30%}
.empreendimentos_mob > .legenda_mob{position:relative;background: url("../img/alpha_legenda_prj.png")repeat top center;}
.empreendimentos_mob > .legenda_mob >p{padding:3%;color: #ffffff;font-size: 78%;}
.empreendimentos_mob > .legenda_mob > p > span{font-size: 65%;}
.titulo_mob{font-size: 90%;padding:4px;border-bottom: 2px solid #902122;width:80%}
.desc_sobre{font:normal 70% "prx_r","prx_r_ie",sans-serif;padding-top:8px;}
#chamada_desc{font:normal 100% "prx_r","prx_r_ie",sans-serif;}
#txt_desc{font:normal 70% "prx_r","prx_r_ie",sans-serif;}
.container_lista_lazer{position:relative;list-style-type: none;height:39px;margin:0;}
.container_lista_lazer li img{border-bottom:1px solid #edf2ea;margin-right:2px;}
.container_lista_lazer li{float:left;height:39px;margin:0 0 0 20px;width:40%;font:normal 51% "prx_r","prx_r_ie",sans-serif;}
#rodape_mobile{position: relative;background-color: #434343;padding:10px 20px 62px 20px;}

.desc_sobre_inverse{font:normal 70% "prx_r","prx_r_ie",sans-serif;padding-top:8px;color:#ffffff;text-align: center;}
#rodape_mobile .desc_sobre_inverse img{margin-bottom:10px;}
#bts_sociais > a:nth-child(5){margin-right:0;}
#bts_sociais > a{display: inline-block;margin:4% 5px;}
#bts_sociais > a:first-child{margin-left:0;}
#bts_sociais{position:relative;width:262px;margin:0 auto;}
#footer_contato_mb{position:fixed;left:0;bottom:0;width: 100%;border-top:6px solid #7d2421;height:56px;background-color: #7e0000;}
#conteudo_contato_footer{position:relative;background: url("../img/bg_footer_mb.png")no-repeat top center;width:300px;height:100%;margin:0 auto;}
#bt_ligamos_mb{float:left;margin:9px 18px 0 19px;}
#bt_whats_mb{float:left;margin:9px 0 0 20px;}
#bt_ligue_mb{float:left;margin-top: 9px}
#bt_email_mb{float:right;margin-top: 9px;margin-right: 15px;}
#lista_ficha{list-style-type: none;font:normal 60% "prx_r","prx_r_ie",sans-serif;}
#status{position:relative;}
#status ul{list-style-type: none;}
#desc_ficha{padding: 0 20px;}
#status ul li,#desc_ficha{font:normal 60% "prx_r","prx_r_ie",sans-serif;}
#status ul li{margin-right:20px;}
#status .titulo_modulo{
  text-align: center;font:normal 80% "prx_r","prx_r_ie",sans-serif;
}
.blc_status{position:relative;}
.blc_status:before{
  display: table;content:"";
}
.blc_status:after{
  display: table;content:"";clear:both;
}
.titulo_status{height:17px;margin:15px 10px 0;color:#000000;}
.barra_status{height:17px;background-color: #cacaca;}
.barra_status > span{display:block;height:17px;background-color: #999999;}
.porcentagem_obra{position:absolute;margin: 0;top: 35px;left: 27px;list-style-type: none;}
.porcentagem_obra li{color:#ffffff;font:normal 12px "prx_r","prx_r_ie",sans-serif;margin-bottom: 37px}
#box_obras{padding: 0 20px;margin-bottom:40px;}
#mobile-showroom{display:block;position:relative;width:96%;margin:10px 0;padding:2%;background-color: #902122;text-decoration:none;outline:none;}
#blc-showroom-mb{position:relative;border:1px solid #fff;text-align:center;}
#blc-showroom-mb h2{font:normal 18px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#blc-showroom-mb h3{font:normal 15px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#blc-showroom-mb p{font:normal 12px "prx_r","prx_r_ie",sans-serif;color:#ffffff;}
#blc_whatsapp{position: absolute;left: 50%;z-index: 999999;width: 260px;height: 300px;
margin-left: -130px;top:-310px;background-color:#ffffff;display:none;}
#header_whatsapp{width:100%;height:35px;background-color:#902122;position:relative;color:#ffffff;}
#header_whatsapp > p{font-size:16px;padding:10px;}
.desc_whatsapp{font-size:15px;padding:10px;margin:0;}
.add_contato{display: block;width:120px;background-color: #902122;text-decoration:none;
font: normal 16px "prx_r","prx_r_ie",sans-serif;color: #ffffff;padding: 12px;margin:5px auto;text-align:center}
.add_contato:hover,.bt_whats_interna:hover{color:#fff;text-decoration:none}
.bt_whats_interna{display: block;width:120px;background-color: #30b944;text-decoration:none;
font: normal 16px "prx_r","prx_r_ie",sans-serif;color: #ffffff;padding: 12px;margin:10px auto;text-align:center}
#close_popup{position: absolute;top: 0;right: 0;cursor: pointer;width: 40px;text-align: center;background-color: #801718;height: 100%;color: #ffffff;font-size: 25px;line-height: 40px;}