#frame_noticias {
	position: absolute;
	width: 960px;
	height: 700px;
	top: 0;
	left: 50%;
	margin-left: -480px;
}
.content_noticias {
	height: 1500px;
	width:100%;
	position:relative;
	background-color: #f8f8f8;
}
