#bg_login {
padding-top: 40px;
padding-bottom: 40px;
background-color: #f5f5f5;
}
.container_admin {
position: absolute;
top: 40px;
width: 960px;
left: 50%;
margin-left: -480px;
}
.form-signin {
position: absolute;
top: 0;
left: 50%;
margin-left: -150px;
max-width: 300px;
padding: 19px 29px 29px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 10px;
font-size: 16px;
}
td.centraliza, th.centraliza{text-align: center;}

/*RANGE*/

/* slider root element */
.slider {
    background:#3C72E6 url(/media/img/gradient/h30.png) repeat-x 0 0;
    height:3px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:300px;
    float:left;
    clear:both;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -moz-box-shadow:inset 0 0 8px #000;
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:#fff url(/media/img/gradient/h30.png) repeat-x 0 0;
    height:20px;
    width:20px;
    top:-12px;
    position:absolute;
    display:block;
    margin-top:1px;
    border:1px solid #000;
    cursor:move;
    -moz-box-shadow:0 0 6px #000;
    -webkit-box-shadow:0 0 6px #000;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;

}

/* the input field */
.range {
    border:1px inset #ddd;
    float:left;
    font-size:20px;
    margin:0 0 0 15px;
    padding:3px 0;
    text-align:center;
    width:50px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.click_accordion{display: block;width:300px;margin-bottom: 5px;}

#area_maps{width:400px;height:300px;}