
.sbHolder{

	/*background-color: #2c2020;  

	border: solid 1px #231a1a;*/
		position:absolute;
		top:0;right:0;
		width:310px;
		height:60px;
		font-family:"prx_r","prx_r_ie",sans-serif;
		font-size:20px;
        line-height:60px;
		color:#ffffff;
}
.sbHolder.obras_modulos{
	right: 312px;
	width:300px;
}
.sbHolder.obras_modulos .sbOptions{
	width:300px;
}
#bloco_cadastro .sbHolder{

	/*background-color: #2c2020;  

	border: solid 1px #231a1a;*/
		position:absolute;
		top:373px !important;left:199px;
		width:83px;
		height:30px;
		font-family:"prx_r","prx_r_ie",sans-serif;
		font-size:14px;
		color:#9f9f9f;
}

.sbHolder:focus .sbSelector{

	

}

.sbSelector{

	display: block;
	height: 60px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0px;
	width:310px;
	border:none;
	
	font-family:"prx_r","prx_r_ie",sans-serif;
		font-size:21px;
                 line-height:57px;
	color:#ffffff;

}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover{

	font-family:"prx_r","prx_r_ie",sans-serif;
		font-size:20px;
	color:#ffffff;

	outline: none;

	text-decoration: none;

}

.sbToggle{

	background: url(../img/select-icons.png) -8px -103px no-repeat;

	display: block;

	height: 60px;

	outline: none;

	position: absolute;

	right: 0;

	top: 0;

	width: 35px;

}

.sbToggle:hover{

	background: url(../img/select-icons.png) 0 -167px no-repeat;

}

.sbToggleOpen{

	background: url(../img/select-icons.png) -1px -5px no-repeat;

}

.sbToggleOpen:hover{

	background: url(../img/select-icons.png) 0 -66px no-repeat;

}

.sbHolderDisabled{

	background-color: #FFFFFF;

	border: solid 1px #CC00FF;

}

.sbHolderDisabled .sbHolder{

	

}

.sbHolderDisabled .sbToggle{

	

}

.sbOptions{

	background-color: #ffffff; /*cor da lista de seleção*/

	/*border: solid 1px #c8cfd8;*/
        border:none;

	list-style: none;

	left: 0px;

	margin: 0;

	padding: 0;

	position: absolute;

	top: 31px;

	width:310px;

	z-index: 1;

	overflow-y: auto;

	/*border-radius: 10px; borda do combo*/

	font-family:"´prx_r","prx_r_ie",sans-serif;
		font-size:16px;
	color:#ffffff;

	marks:cross;

	

}

.sbOptions li{

	padding: 0 7px;
}

.sbOptions li:hover{
	background-color:#ffffff;
	
}

.sbOptions a{

	/*border-bottom: dotted 1px #c9c6c6;*/

	display: block;

	outline: none;

	padding: 7px 0 7px 3px;
	
	font-family:"prx_r","prx_r_ie",sans-serif;
		font-size:16px;
	color:#ffffff;

}

.sbOptions a:link, .sbOptions a:visited{

	/*color: #ddd;*/

	text-decoration: none;
	
	font-family:"prx_r","prx_r_ie",sans-serif;
        font-size:16px;
	color:#ffffff;	

}

.sbOptions a:hover,

.sbOptions a:focus,

.sbOptions a.sbFocus{

	
	font-family:"prx_r","prx_r_ie",sans-serif;
        font-size:16px;
	color:#ffffff;	

}

.sbOptions li.last a{

	border-bottom: none;

}

.sbOptions .sbDisabled{

	/*border-bottom: dotted 1px #c9c6c6;*/

	color: #9f9f9f;

	display: block;

	padding: 7px 0 7px 3px;

}

.sbOptions .sbGroup{

	/*border-bottom: dotted 1px #906127;*/

	color: #EBB52D; /*cor dos GRUPOS da caixa de seleção*/

	display: block;

	font-weight: bold;

	padding: 7px 0 7px 3px;

	

}

.sbOptions .sbSub{

	padding-left: 17px;

}


